<% @plots.each do |plot| %>
  <div id="plot-<%=plot.number%>">
    <h3><%=plot.number %></h3>
    <ul>
      <% plot.plants.each do |plant| %>
        <li><%= plant.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>